<div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/static/img/logoItem.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <div class="px-3">
                    <li class="nav-item {{homeActive}}">
                        <a class="nav-link" href="/">Почетна</a>
                    </li>
                </div>
                <div class="px-3">
                    <li class="nav-item {{ideaActive}}">
                        <a class="nav-link" href="/idea">За идејата</a>
                    </li>
                </div>
                <div class="px-3">
                    <li class="nav-item {{getActive}}">
                        <a class="nav-link" href="/get-team">ГЕТ тим</a>
                    </li>
                </div>
                <div class="px-3">

                    <li class="nav-item {{newsActive}}">
                        <a class="nav-link" href="/news">Вести</a>
                    </li>
                </div>
                <div class="px-3">
                    <li class="nav-item {{contactActive}}">
                        <a class="nav-link" href="/contact-us">Контакт</a>
                    </li>
                </div>
            </ul>
            <ul class="navbar-nav language  ">
                <li class="nav-item">
                    <a class="nav-link {{mkActive}}" href="/">
                        MK
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="text-decoration: none">
                        |
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{enActive}}" href="/en">
                        EN
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</div>