<div id="gteamMain">
    <p class="h2">GET Team</p>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/static/img/ToskoRistov.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Toshko Ristov</h5>
                <p class="card-text"><small class="text-muted">CFO and owner of Venito Komerc</small></p>
                <p class="card-text">Mechanical engineer</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/IleMircheski.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">PhD. Ile Mircheski</h5>
                <p class="card-text"><small class="text-muted">Project COO</small></p>
                <p class="card-text">Assistant Professor at the Faculty of Mechanical Engineering Skopje</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/InaKrstevska.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ina Krstevska</h5>
                <p class="card-text"><small class="text-muted">Mechatronics</small></p>
                <p class="card-text">Mechanical engineer</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/FilipPoposki.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Filip Poposki</h5>
                <p class="card-text"><small class="text-muted">Energy, ecology, mechanics.</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="card-deck">

        <div class="card">
            <img class="card-img-top" src="/static/img/AleksandarJankovik.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aleksandar Jankovikj</h5>
                <p class="card-text"><small class="text-muted">Design</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/MarkoNaseski.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Marko Naseski</h5>
                <p class="card-text"><small class="text-muted">CAD models, thermodynamics</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/MartinSpasovski.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Martin Spasovski</h5>
                <p class="card-text"><small class="text-muted">Automation, electronics</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/IgorDzambaski.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Igor Dzambaski</h5>
                <p class="card-text"><small class="text-muted">CAD models, production technologies</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
    </div>
</div>